@import '../varaibles';

.home-page{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
}

.home-page__text{
	font-size: 70px;
	font-weight: 600;
	writing-mode: vertical-rl; /* Для поддержки браузерами, не поддерживающими writing-mode */
  transform: rotate(180deg);

}